@page
@model Site.Areas.Admin.Pages.ChangePasswordModel
@{
}

<!--begin::Profile Change Password-->
<div class="d-flex flex-row">
	<!--begin::Content-->
	<div class="flex-row-fluid ml-lg-8">
		<!--begin::Card-->
		<div class="card card-custom">
			<!--begin::Header-->
			<div class="card-header py-3">
				<div class="card-title align-items-start flex-column">
					<h3 class="card-label font-weight-bolder text-dark">تغییر کلمه عبور</h3>
					<span class="text-muted font-weight-bold font-size-sm mt-1">تغییر کلمه عبور حساب کاربری شما</span>
				</div>
				<div class="card-toolbar">
					<button type="button" id="btnChangePassword" class="btn btn-success mr-2">ثبت</button>
				</div>
			</div>
			<!--end::Header-->
			<!--begin::Form-->
			<form class="form" id="frmChangePassword">
				<div class="card-body">
					<div class="form-group row">
						<div asp-validation-summary="All" class="text-danger" role="alert"></div>
					</div>
					<div class="form-group row">
						<label class="col-xl-3 col-lg-3 col-form-label text-alert">کلمه عبور فعلی</label>
						<div class="col-lg-9 col-xl-6">
							<input type="password" asp-for="Input.OldPassword" class="form-control form-control-lg form-control-solid mb-2" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-xl-3 col-lg-3 col-form-label text-alert">کلمه عبور جدید</label>
						<div class="col-lg-9 col-xl-6">
							<input type="password" asp-for="Input.NewPassword" class="form-control form-control-lg form-control-solid" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-xl-3 col-lg-3 col-form-label text-alert">تکرار کلمه عبور</label>
						<div class="col-lg-9 col-xl-6">
							<input type="password" asp-for="Input.ConfirmPassword" class="form-control form-control-lg form-control-solid" />
						</div>
					</div>
				</div>
			</form>
			<!--end::Form-->
		</div>
	</div>
	<!--end::Content-->
</div>
<!--end::Profile Change Password-->
@section Script{
	<script>
		$(document).ready(function () {
			$("#btnChangePassword").click(function () {
				SendFormToServer('#frmChangePassword', '@Url.Page("ChangePassword", "Change")')
			})
		})
	</script>
}