@page
@model Site.Areas.Admin.Pages.ChangePasswordModel
@{
}

<!--begin::Row-->
<div class="row">
	<div class="col-lg-8 col-xxl-6">
		<!--begin::Content-->
		<div class="flex-row-fluid ml-lg-8">
			<!--begin::Card-->
			<div class="card card-custom">
				<!--begin::Header-->
				<div class="card-header py-3">
					<div class="card-title align-items-start flex-column">
						<h3 class="card-label font-weight-bolder text-dark">تغییر کلمه عبور</h3>
						<span class="text-muted font-weight-bold font-size-sm mt-1">تغییر کلمه عبور حساب کاربری</span>
					</div>
					<div class="card-toolbar">
						<button type="button" id="btnChangePassword" class="btn btn-success mr-2" @*onclick="SendFormToServer('#ChangePasswordForm','@Url.Page("ChangePassword", "ChangePassword")')*@">ثبت</button>
					</div>
				</div>
				<!--end::Header-->
				<!--begin::Form-->
				<form class="form">
					<div class="card-body">
						<form id="ChangePasswordForm" method="post">
							<div class="form-group row">
								<label asp-for="Input.OldPassword" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
								<div class="col-lg-9 col-xl-6">
									<input asp-for="Input.OldPassword" type="password" class="form-control form-control-lg form-control-solid mb-2" value="" />
									<span asp-validation-for="Input.OldPassword" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<label asp-for="Input.NewPassword" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
								<div class="col-lg-9 col-xl-6">
									<input asp-for="Input.NewPassword" type="password" class="form-control form-control-lg form-control-solid" value="" />
									<span asp-validation-for="Input.NewPassword" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<label asp-for="Input.ConfirmPassword" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
								<div class="col-lg-9 col-xl-6">
									<input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control-lg form-control-solid" value="" />
									<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
								</div>
							</div>
						</form>
					</div>
				</form>
				<!--end::Form-->
			</div>
		</div>
		<!--end::Content-->
	</div>
</div>
<!--end::Row-->
@section Script{
<script>
	$(document).ready(function () {
		$("#btnChangePassword").click(function () {
			SendFormToServer('#frmChangePassword', '@Url.Page("ChangePassword", "ChangePassword")')
		})
	});
	function ُSendFormToServer(frm, Url, modal = null, isReload = false) {
    var valdata = $(frm).serialize();
    $.validator.unobtrusive.parse(frm);
    if ($(frm).valid()) {
        AjaxStart();
        $.ajax({
            url: Url,
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: valdata,
            success: function (result) {
                AjaxStop();
                if (result.isSuccess) {
                    if (!isNullOrEmpty(modal))
                        $(modal).modal('toggle');
                    ToastMessageSuccess(result.message);
                    if (isReload)
                        loadPage();
                } else {
                    ToastMessageError(result.message);
                }
            },
            error: function (xhr, status, error) {
                AjaxStop();
                ToastMessageError(error);
            }
        });
    }
}
</script>
}