@page
@model Site.Areas.Admin.Pages.IndexModel
@{

}


<!--begin::Row-->
<div class="row">
	<div class="col-lg-6 col-xxl-4">
		<div class="card card-custom">
			<div class="card-header">
				<div class="card-title">
					<h3 class="card-label">Card Title With Icons</h3>
				</div>
				<div class="card-toolbar">
					<ul class="nav nav-light-success nav-bold nav-pills">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_4_1">
								<span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
								<span class="nav-text">Week</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#kt_tab_pane_4_2">
								<span class="nav-icon"><i class="flaticon2-drop"></i></span>
								<span class="nav-text">Month</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="kt_tab_pane_4_1" role="tabpanel"
						aria-labelledby="kt_tab_pane_4_1">
						1
					</div>
					<div class="tab-pane fade" id="kt_tab_pane_4_2" role="tabpanel" aria-labelledby="kt_tab_pane_4_2">
						2
					</div>
					<div class="tab-pane fade" id="kt_tab_pane_4_3" role="tabpanel" aria-labelledby="kt_tab_pane_4_3">
						3
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end::Row-->
