@page
@model Site.Areas.Admin.Pages.PreInvoiceModel
@{

}


<!--begin::Row-->
<div class="row">
    <div class="col-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">لیست پیش فاکتورها</h3>
                </div>
                <div class="card-toolbar">
                    <partial name="_btnAdd" model='"btnAdd"' />
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <table id="tblPreInvoice" class="table table-light">
                        <thead>
                            <tr>
                                <th>شماره</th>
                                <th>تاریخ</th>
                                <th>طرف حساب</th>
                                <th>قابل پرداحت</th>
                                <th>شناسه</th>
                                <th>کاربر ثبت کننده</th>
                                <th>نهایی شده</th>
                                <th>زمان نهایی شدن</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody id="dataBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Row-->
@section Script {
    <script>
        $(document).ready(function () {
            initDataTables();
            $('#tblPreInvoice').on('click', 'a.remove', function (e) {
                let Id = GetRowId($(this))
                AlertConfirm("هشدار", "آیا از حذف این مورد مطمئن هستید؟!", function () {
                    GetFromServer('@Url.Page("PreInvoice", "Delete")', { id: Id }, function (result) {
                        if (result.isSuccess) {
                            ToastMessageSuccess(result.message);
                            ReloadDataTable("#tblPreInvoice");
                            initDataTables();
                        } else {
                            ToastMessageError(result.message);
                        }
                    })
                }, null)
            });
            $('#btnAdd').click(function () {
                ChangeUrl("/Admin/PreInvoiceAddOrEdit");
            })
            $('#tblPreInvoice').on('click', 'a.edit', function (e) {
                let Id = GetRowId($(this))
                ChangeUrl("/Admin/PreInvoiceAddOrEdit/" + Id);
            });
        })
        function initDataTables() {
            GetFromServer('@Url.Page("PreInvoice", "List")', {}, function (result) {
                DataTableDestroy("#tblPreInvoice");
                $("#tblPreInvoice").DataTable({
                    data: result,
                    language: {
                        url: "/lib/datatables/Persian.json"
                    },
                    responsive: true,
                    select: true,
                    order: [[0, "desc"]],
                    columns: [
                        {
                            sortable: true,
                            data: "preInvoiceNo",
                            width: "10%",
                            render: function (data, type, row, meta) {
                                return "<p class='ltr text-left'>" + data + "</p>";
                            }
                        },
                        {
                            sortable: true,
                            data: "preInvoiceDate",
                            render: function (data, type, row, meta) {
                                return "<p class='ltr text-left'>" + data + "</p>";
                            }
                        },
                        {
                            sortable: true,
                            data: "title",
                            render: function (data, type, row, meta) {
                                return SubString(data, 0, 80);
                            }
                        },
                        {
                            sortable: true,
                            data: "totalNetPrice",
                            render: function (data, type, row, meta) {
                                return "<p class='ltr text-left'>" + data + "</p>";
                            }
                        },
                        {
                            sortable: true,
                            data: "reference",
                            render: function (data, type, row, meta) {
                                return SubString(data, 0, 80);
                            }
                        },
                        {
                            sortable: true,
                            data: "userTitle",
                            render: function (data, type, row, meta) {
                                return SubString(data, 0, 80);
                            }
                        },
                        {
                            sortable: true,
                            data: "regist",
                            render: function (data, type, row, meta) {
                                if (data) {
                                    return "<span class='ltr text-left'><i class='fa fa-check'></i></span>";
                                } else {
                                    return "";
                                }
                            }
                        },
                        {
                            sortable: true,
                            data: "registDateTime",
                            render: function (data, type, row, meta) {
                                return "<p class='ltr text-left'>" + data + "</p>";
                            }
                        },
                        {
                            sortable: false,
                            data: "id",
                            width: "15%",
                            render: function (data, type, row, meta) {
                                var html = '';
                                html += '<a data="' + data + '" class=" btn btn-sm btn-clean btn-icon cursor-pointer edit" title="ویرایش"><i class="la la-edit"></i></a>';
                                html += '<a data="' + data + '" class="btn btn-sm btn-clean btn-icon cursor-pointer remove" title="حذف"><i class="la la-trash"></i></a>';
                                return html
                            }
                        }

                    ]
                });

            }, true)
        }
    </script>
}