@page
@model Site.Areas.Admin.Pages.ProductModel
@{

}


<!--begin::Row-->
<div class="row">
	<div class="col-12">
		<div class="card card-custom">
			<div class="card-header">
				<div class="card-title">
					<h3 class="card-label">لیست کالا ها</h3>
				</div>
			</div>
			<div class="card-body">
				<div class="tab-content">
					
				</div>
			</div>
		</div>
	</div>
</div>
<!--end::Row-->
