@page
@model Site.Areas.Admin.Pages.ProductModel
@{

}


<!--begin::Row-->
<div class="row">
	<div class="col-12">
		<div class="card card-custom">
			<div class="card-header">
				<div class="card-title">
					<h3 class="card-label">لیست کالا ها</h3>
				</div>
			</div>
			<div class="card-body">
				<div class="tab-content">
					<table id="tblFooter" class="table table-light">
                        <thead>
                            <tr>
                                <th>کد</th>
                                <th>ترتیب نمایش</th>
                                <th>عنوان</th>
                                <th>محل باز شدن</th>
                                <th>تاریخ به روزرسانی</th>
                                <th>تاریخ به روزرسانی</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end::Row-->
@section Script{
	<script>
	        $(document).ready(function () {
            	initDataTables();
			})
	        function initDataTables() {
                  $("#tblFooter").DataTable({
                        language: {
                            url: "/lib/datatables/Persian.json"
                        },
						responsive: true,
                        select: true,
                    });
        }
	</script>

}