@page
@model Site.Areas.Admin.Pages.ProfileModel
@inject UserManager<ApplicationUser> _userManager;
@{
	var user = await _userManager.GetUserAsync(User);
}
<!--begin::Content-->
<div class="flex-row-fluid ml-lg-8">
	<!--begin::Card-->
	<div class="card card-custom card-stretch">
		<!--begin::Header-->
		<div class="card-header py-3">
			<div class="card-title align-items-start flex-column">
				<h3 class="card-label font-weight-bolder text-dark">پروفایل</h3>
				<span class="text-muted font-weight-bold font-size-sm mt-1">اطلاعات پروفایل @user.firstName @user.LastName</span>
			</div>
			<div class="card-toolbar">
				<partial name="_btn" model='"btnSaveProfile"' />

			</div>
		</div>
		<!--end::Header-->
		<!--begin::Form-->
		<form class="form" id="frmProfile" method="post">
			<!--begin::Body-->
			<div class="card-body">
				<div class="row">
					<label class="col-xl-3"></label>
					<div class="col-lg-9 col-xl-6">
						<h5 class="font-weight-bold mb-6">اطلاعات کاربر</h5>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">تصویر</label>
					<div class="col-lg-9 col-xl-6">
						<div class="image-input image-input-outline" id="kt_profile_avatar" style="background-image: url(assets/media/users/blank.png)">
							<div class="image-input-wrapper" style="background-image: url(assets/media/users/300_21.jpg)"></div>
							<label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
								<i class="fa fa-pen icon-sm text-muted"></i>
								<input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
								<input type="hidden" name="profile_avatar_remove" />
							</label>
							<span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
								<i class="ki ki-bold-close icon-xs text-muted"></i>
							</span>
							<span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
								<i class="ki ki-bold-close icon-xs text-muted"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div asp-validation-summary="All" class="text-danger" role="alert"></div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">نام</label>
					<div class="col-lg-9 col-xl-6">
						<input asp-for="user.firstName" class="form-control form-control-lg form-control-solid" type="text" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">نام خانوادگی</label>
					<div class="col-lg-9 col-xl-6">
						<input asp-for="user.LastName" class="form-control form-control-lg form-control-solid" type="text" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">شماره موبایل</label>
					<div class="col-lg-9 col-xl-6">
						<div class="input-group input-group-lg input-group-solid">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="la la-phone"></i>
								</span>
							</div>
							<input asp-for="user.PhoneNumber" type="text" class="form-control form-control-lg form-control-solid" />
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">ایمیل</label>
					<div class="col-lg-9 col-xl-6">
						<div class="input-group input-group-lg input-group-solid">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="la la-at"></i>
								</span>
							</div>
							<input asp-for="user.Email" type="text" class="form-control form-control-lg form-control-solid" />
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">کد ملی</label>
					<div class="col-lg-9 col-xl-6">
						<input asp-for="user.NationalCode" class="form-control form-control-lg form-control-solid" type="text" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">آدرس</label>
					<div class="col-lg-9 col-xl-6">
						<textarea asp-for="user.Address" class="form-control form-control-lg form-control-solid"></textarea>
					</div>
				</div>
			</div>
			<!--end::Body-->
		</form>
		<!--end::Form-->
	</div>
</div>
<!--end::Content-->
@section Script{
	<script>
		$(document).ready(function () {
			$("#btnSaveProfile").click(function () {
				SendFormToServer('#frmProfile', '@Url.Page("Profile", "Change")')
			})
		})
	</script>
}