	<div id="loadingDiv" class=" page-loader page-loader-Detail page-loader-base">
		<div class="blockui m-auto">
			<span>لطفا صبر کنید...</span>
			<span>
				<span class="spinner spinner-primary"></span>
			</span>
		</div>
	</div>