html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.ltr {
    direction: ltr !important;
}

.text-left {
    text-align: left !important;
}

.select2 {
    width: 100% !important
}
/***************************Loading***********************************/
.page-loader {
    background-color: transparent !important;
}

.blockui {
    background: #000 !important;
}

    .blockui > span {
        color: #fff !important;
    }
/***************************end Loading***********************************/
.form-control {
    border: 1px #bdacac solid !important;
}